{{#layout}}

<h1>Активные инвайты</h1>

{{#invites.active.0}}

	<table class="invites">
		<tr>
			<th>Код</th>
			<th>Годен до</th>
		</tr>
		{{#invites.active}}
			<tr>
				<td>{{code}}</td>
				<td>{{expireDate}}</td>
			</tr>
		{{/invites.active}}
	</table>

{{/invites.active.0}}

{{^invites.active.0}}
	<h2>Пусто</h2>
{{/invites.active.0}}

<form method="post">
	<input type="submit" value="Создать инвайт"/>
</form>

<h1>Использованные инвайты</h1>

{{#invites.completed.0}}

<table class="invites">
	<tr>
		<th>Код</th>
		<th>Приглашенный пользователь</th>
	</tr>
	{{#invites.completed}}
	<tr>
		<td>{{code}}</td>
		<td>{{invited.name}}</td>
	</tr>
	{{/invites.completed}}
</table>

{{/invites.completed.0}}

{{^invites.completed.0}}
<h2>Пусто</h2>
{{/invites.completed.0}}

{{/layout}}