{{#layout}}

<h1>Хочешь настолки?</h1>
<h2>Входи!</h2>

{{>inc/error_msg}}

<div class=login>
	<form method=post>
		<table>
		<tr>
			<td>Имя
			<td><input type=text name=username>
		<tr>
			<td>Пароль
			<td><input type=password name=password value=''>
		<tr>
			<td><input type=submit name=login_submit value='  Войти  '>
			<td>
				<a href='registration' class="button button-registration">
					<div>Регистрация <span class="no-sms">(бесплатно и без СМС)</span></div>
				</a>
		</table>
	</form>
</div>

<div class="hero">Проект посвящается трудам Великого Ifikl Amfitrion</div>
{{/layout}}