{{#layout}}

{{#actualPriceList.publisherPrices.0}}
	<div id="order">
		<div class="title">Корзина</div>
		<div class="details"></div>
		<div class="menu">
			<a href="{{layout.contextPath}}/user/order/items">Подробнее...</a>
		</div>
	</div>

	<div id="price-list">
		<h1>Все цены на {{actualPriceList.publisherPrices.0.prices.0.price.source.fileModifyDateFormatted}}</h1>
		{{#actualPriceList.publisherPrices}}
			<div class="publisher-block">
				<h2>{{publisher.normalizedName}} <i>({{prices.size}})</i></h2>
				<table class="price-and-item">
				{{#prices}}
					<tr id="item-{{price.item.id}}" class="{{#ordered}}ordered{{/ordered}}">
						<td class="count">{{price.count}}<i>шт</i></td>
						<td class="price">{{price.roundedPrice}}<i>р</i></td>
						<td class="action">
							<div
								class="button button-add-item"
								data-href="/user/order/items/{{price.item.id}}"
								data-type="add"
								data-id="{{price.item.id}}">+</div>
						</td>
						<td class="title" >
							<span>{{{price.item.htmlTitle}}}</span>
							{{#price.item.url}}
								<a target="_blank" href="{{price.item.url}}">фото</a>
							{{/price.item.url}}
							<a class=google target="_blank" href="{{googleSearchUrl}}">погуглить</a>
						</td>
					</tr>
				{{/prices}}
				</table>
			</div>
		{{/actualPriceList.publisherPrices}}
	</div>
{{/actualPriceList.publisherPrices.0}}

{{^actualPriceList.publisherPrices.0}}
	<h1>Пусто</h1>
{{/actualPriceList.publisherPrices.0}}

<script>
	const blockInAction = {};
	const order = new OrderBlock(
		parseInt("{{actualPriceList.userOrder.itemsCount}}") || 0,
		parseInt("{{actualPriceList.userOrder.total}}") || 0
	);
	order.render();

	$('div.button').click(
		function() {
			const button = $(this);
			const actionUrl = "{{layout.contextPath}}" + button.attr("data-href");
			const itemId = button.attr("data-id");

			if (blockInAction[itemId]) {
				return
			}
			blockInAction[itemId] = true;

			const itemBlock = $("#item-" + itemId);
			itemBlock.toggleClass("in-action");

			switch (button.attr("data-type")) {
				case "add":
					addItem(itemId, actionUrl, "PUT");
					break;
			}
		}
	);
	function addItem(itemId, url, method) {
		console.log("[action] " + method + " " + url);

		$.ajax({ url: url, method: method})
			.done(function(resp) {
				console.log('[OK] ' + url);
				order.addItem(itemId);
				order.render();
			})
			.fail(function (jqXHR, excpetion) {
				console.log("[ERROR] " + url + "\n" + excpetion)
			})
			.always(function() {
				$("#item-" + itemId).toggleClass("in-action");
				blockInAction[itemId] = false;
			})
	}
</script>
{{/layout}}