{{#layout}}

{{#actualPriceList.publisherPrices.0}}
	<div id="order">
		<div class="title">Корзина</div>
		<div class="details"></div>
		<div class="menu">
			<a href="{{layout.contextPath}}/user/order/items">Подробнее...</a>
		</div>
	</div>

	<div id="price-list">
		<h1>Все цены на {{actualPriceList.publisherPrices.0.prices.0.source.fileModifyDateFormatted}}</h1>
		{{#actualPriceList.publisherPrices}}
			<div class="publisher-block">
				<h2>{{publisher.normalizedName}} <i>({{prices.size}})</i></h2>
				<table class="price-and-item">
				{{#prices}}
					<tr id="item-{{price.item.id}}" class="price-item {{#ordered}}ordered{{/ordered}}">
						<td class="count">{{price.count}}<i>шт</i></td>
						<td class="price">{{price.roundedPrice}}<i>р</i></td>
						<td class="action">
							<div
								class="button button-add-item"
								data-href="/user/order/items/{{price.item.id}}"
								data-type="add"
								data-id="{{price.item.id}}">+</div>
						</td>
						<td class="title" >
							<span>{{{price.item.htmlTitle}}}</span>
							{{#price.item.url}}
								<a target="_blank" href="{{price.item.url}}">фото</a>
							{{/price.item.url}}
						</td>
					</tr>
				{{/prices}}
				</table>
			</div>
		{{/actualPriceList.publisherPrices}}
	</div>
{{/actualPriceList.publisherPrices.0}}

{{^actualPriceList.publisherPrices.0}}
	<h1>Пусто</h1>
{{/actualPriceList.publisherPrices.0}}

<script>
	OrderBlock = function() {
		this.itemsCount = parseInt("{{actualPriceList.userOrder.itemsCount}}") || 0;
		this.total = parseInt("{{actualPriceList.userOrder.total}}") || 0;
		this.totalWithDiscount = function() {
			var x = this.total * 0.92;
			// round to 50 RUB
			var y = x % 50;
			if (y > 0) {
				x = x + 50 - y;
			}
			return x;
		};

		this.addItem = function(id) {
			var item = new Item(id);
			this.total += item.getPrice();
			this.itemsCount++;
			item.renderOrder();
			orderedItems[id] = 1;
		};

		this.render = function() {
			$("#order div.details").html(
				"<p>Выбрано:<b>" + this.itemsCount + "</b><p>Сумма:<br>" + this.total + " руб.<p>Со скидкой:<br><b>" + this.totalWithDiscount() + "</b> руб."
			)
		}
	};

	Item = function(id) {
		this.id = id;
		this.element = $("#item-" + this.id);

		this.getPrice = function() {
			return parseInt(
				this.element.find("td.price").text()
			);
		};

		this.renderOrder =function() {
			if (orderedItems[this.id] !== 1) {
				this.element.toggleClass("ordered");
			}
		}
	};

	var blockInAction = {};
	var order = new OrderBlock();
	order.render();

	var orderedItems = {};
	$("tr.ordered div.button-add-item").each(function(i) {
		orderedItems[$(this).attr("data-id")] = 1;
	});

	$('div.button').click(
		function() {
			var button = $(this);
			var actionUrl = "{{layout.contextPath}}" + button.attr("data-href");
			var itemId = button.attr("data-id");

			if (blockInAction[itemId]) {
				return
			}
			blockInAction[itemId] = true;

			var itemBlock = $("#item-" + itemId);
			itemBlock.toggleClass("in-action");

			switch (button.attr("data-type")) {
				case "add":
					addItem(itemId, actionUrl, "PUT");
					break;
			}

			itemBlock.toggleClass("in-action");
			blockInAction[itemId] = false;
		}
	);
	function addItem(itemId, url, method) {
		console.log("[action] " + method + " " + url);

		$.ajax({ url: url, method: method})
			.done(function(resp) {
				console.log('[OK] ' + url);
				order.addItem(itemId);
				order.render();
			})
			.fail(function (jqXHR, excpetion) {
				console.log("[ERROR] " + url + "\n" + excpetion)
			})
	}
</script>
{{/layout}}