{{#layout}}

<h1>Регистрация</h1>

{{>inc/error_msg}}

<div class=register>
	<form method=post>
		<table>
		<tr>
			<td>Код инвайта
			<td><input type=text name=inviteCode value="{{userRegistrationForm.inviteCode}}">
			<td class="error">{{formError.inviteCode}}
		<tr>
			<td>E-mail
			<td><input type=text name=email value="{{userRegistrationForm.email}}">
            <td class="error">
		<tr>
			<td>Пароль (не от мыла)
			<td><input type=password name=password value='{{userRegistrationForm.password}}'>
            <td class="error">{{formError.password}}
        <tr>
			<td>Пароль еще разок
			<td><input type=password name=passwordConfirm value='{{userRegistrationForm.passwordConfirm}}'>
            <td>{{formError.passwordConfirm}}
        <tr>
			<td>Как к Вам обращаться
			<td><input type=text name=name value="{{userRegistrationForm.name}}">
            <td class="error">{{formError.name}}
		<tr>
			<td><input type=submit name=register_submit value='  Зарегистрироваться  '>
			<td colspan="2">
				<a href="login" class="button button-registration">
					<div>У меня уже есть логин</div>
				</a>
		</table>
	</form>
</div>

{{/layout}}
