{{#layout}}

{{#order.items.0}}
<h1>Ваш текущий заказ</h1>
<table class="price-and-item">
	{{#order.items}}
	<tr id="item-{{item.id}}" data-item-price="{{itemPrice}}" data-fix-price="{{item.isLikeFixPriceTitle}}">
		<td class="count"><span>{{count}}</span><i>шт</i></td>
		<td class="price"><span>{{total}}</span><i>р</i></td>
		<td class="action">
			<div
				class="button button-add-item"
				data-href="/user/order/items/{{item.id}}"
				data-action="add"
				data-id="{{item.id}}">+
			</div>
			<div
				class="button button-del-item"
				data-href="/user/order/items/{{item.id}}"
				data-action="del"
				data-id="{{item.id}}">&ndash;
			</div>
		</td>
		<td class="title">
			<span>{{{item.htmlTitle}}}</span>
			{{#item.url}}
			<a target="_blank" href="{{item.url}}">фото</a>
			{{/item.url}}
		</td>
	</tr>
	{{/order.items}}
</table>

<div id="orderSummary">
	<div class="data"></div>
	<div class="button button-copy" onclick="copyOrderText()">
		Копировать текст заказа в буфер обмена
	</div>
</div>
{{/order.items.0}}


{{^order.items.0}}
<h1>Корзина пуста, выбрать настолки можно <a href="{{layout.contextPath}}/price-lists/last">тут</a></h1>
{{/order.items.0}}

<script>
	const order = new Order(
		parseInt("{{order.itemsCount}}") || 0,
		parseInt("{{order.total}}") || 0,
		parseInt("{{order.totalWithFixPrice}}") || 0
	);
	order.render();

	const blockInAction = {};
	$('div.button').click(
		function () {
			const button = $(this);
			const actionUrl = "{{layout.contextPath}}" + button.attr("data-href");
			const itemId = button.attr("data-id");

			if (blockInAction[itemId]) {
				return
			}
			blockInAction[itemId] = true;

			const itemBlock = $("#item-" + itemId);
			itemBlock.toggleClass("in-action");

			switch (button.attr("data-action")) {
				case "add":
					addItem(itemId, actionUrl);
					break;
				case "del":
					delItem(itemId, actionUrl);
					break;
			}

			itemBlock.toggleClass("in-action");
			blockInAction[itemId] = false;
		}
	);

	function addItem(itemId, url) {
		console.log("[action] PUT " + url);

		$.ajax({url: url, method: "PUT"})
			.done(function (resp) {
				console.log('[OK] ' + url);
				order.addItem(itemId);
				order.render();
			})
			.fail(function (jqXHR, excpetion) {
				console.log("[ERROR] " + url + "\n" + excpetion)
			})
	}

	function delItem(itemId, url) {
		console.log("[action] DELETE " + url);

		$.ajax({url: url, method: "DELETE"})
			.done(function (resp) {
				console.log('[OK] ' + url);
				order.delItem(itemId);
				order.render();
			})
			.fail(function (jqXHR, excpetion) {
				console.log("[ERROR] " + url + "\n" + excpetion)
			})
	}

	function copyOrderText() {
		const temp = $("<textarea>");
		$("body").append(temp);
		temp.val(order.getText()).select();
		document.execCommand("copy");
		temp.remove();
		alert("Скопировано, теперь идите вконтактик =)")
	}
</script>

{{/layout}}