a,body,table,tr,td,li,p,input,textarea,pre {font-family: verdana, arial, serif;color:#575651;padding:0;margin:0}
table{width:auto;table-layout:fixed;border-collapse:collapse;text-align:left}

h1 { color: #575651}
div.main { width: 1000px; margin: 0 auto; text-align: center; }

#top_menu { position: static; font-size: 100%; }
	.links     { float: left;  width: 70%; background: #ddd; padding: 5px; text-align: left;}
	#user_info { padding: 5px; width: 30%; background: #ddd; margin-left: 70%; text-align: right;}

#mid_area { width: 100%; }
	#left_menu { float: left; width: 20%; }
	#data_area { width: 90%; margin: auto; padding: 0 10px; }

#top_menu a { text-decoration: none; }

#admin_menu a { text-decoration: none; font-size: 85% }

#order {
	font-size: 80%; text-align: left; padding: 5px; color: #575651; border: 1px solid #778d78; background: #a2bca3; border-radius: 7px;
	position: fixed;  margin: 20px 0 0 -30px;
}
#order p { margin-bottom: 7px; }
#order div { padding: 3px 5px; }
#order div.title { border-bottom: 1px solid #778d78; }
#order div.menu { border-top: 1px solid #778d78; }

#orderSummary { text-align: center; margin-top: 25px; padding: 10px; border-top: 1px solid #778d78; }
#orderSummary div.data { float: left; width: 35%; text-align: left; padding: 15px 20px; }

#price-list { float: right; width: 88%; }

form table    { margin: 0 auto; }
form table td { padding: 10px; }

a.logout { text-decoration: none; font-weight: bold; color: #a11e0d; }
a.button { text-decoration: none }
a.button div { padding: 5px 10px; border: 1px solid gray; border-radius: 25px; font-size: 85%; }
a.button-registration div { border-color: #8dcaa5; color: #39b45b; background: #f3fbf3; }

div.error { border-radius: 10px; border: 1px solid #d47d7d; background: #f5cccc; text-align: center; color: #4c260b; padding: 10px 30px; }

div.publisher-block { text-align: left; padding: 0 2px 3px 2px ;}
div.publisher-block h2 i { color: #a2bca3; font-size: 80%; }
div.publisher-block h3 i { color: #a2bca3; font-size: 80%; }

table.price-and-item { text-align: left; margin-left: 20px; }
table.price-and-item tr.ordered td.title span { background: #a2bca3 }
table.price-and-item tr.NEW { background: #62e67554; }
table.price-and-item tr.DELETE { background: #da35351f }
table.price-and-item td.action { white-space: nowrap;}
table.price-and-item td.count { color: #a2bca3; white-space: nowrap; padding-right: 12px; }
table.price-and-item td.price { color: #778d78; white-space: nowrap;}
table.price-and-item td.title  { color: #575651; white-space: nowrap;}
table.price-and-item td.title a { text-decoration: none; color: #1299b4; }
table.price-and-item td.title a.google { text-decoration: none; color: #c3c2bb; }
table.price-and-item td.delete-note { color: #d8796d; text-align: center; font-size: 80%; }
table.price-and-item td       { padding: 2px 8px; }
table.price-and-item td i     { color: #c3c2bb;}
table.price-and-item td.change { padding: 2px 0; font-size: 80%; }
table.price-and-item td.change span i.plus { color: #09b24d;  }
table.price-and-item td.change span i.minus { color: #b21e00;  }

div.button { border-radius: 25px; border: 1px solid; text-align: center; padding: 3px 10px; font-size: 70%; display: inline; margin: 3px 5px; cursor: pointer; }
div.button:hover { border: 1px dotted; }
div.button-add-item { border-color: seagreen; color: seagreen; }
div.button-del-item { border-color: #b43f39; color: #b43f39; }
div.button-copy { float: right; display: block; border-color: #778d78; background: #a2bca3; font-size: 100%; padding: 15px 20px; }

div.in-action div.button { border: 1px dotted gray; color: gray; }

div.hero { padding: 20px 10px; width: 55%; margin: 20px auto; border-radius: 45px; border: 1px dotted #a2bca3; color: #778d78; font-size: 80%; }
span.no-sms { color: #c3c2bb; font-size: 80%; }

div.sub-menu span { margin-left: 10px; padding: 5px 15px; border: 1px dotted #1299b4; border-radius: 25px; }
div.sub-menu a { text-decoration: none; }
div.sub-menu span.false { background: #f4fbfb;}
div.sub-menu span.true { background: #a4e6ecc4; font-weight: bold; }

div.auto-import-block { padding: 10px 20px; text-align: left; margin: 20px; border-radius: 20px; border: 1px dotted; }
div.auto-import-block-DONE { border-color: #778d78; }
div.auto-import-block-DONE span.head { color: #778d78; }
div.auto-import-block-ERROR { border-color: #b43f39; }
div.auto-import-block-ERROR span.head { color: #b43f39; }
div.auto-import-block-ERROR span.msg { color: #575651; font-weight: bold; }

table.price-list-history { margin: 0 auto; }
table.price-list-history th { border-bottom: 1px solid #575651; padding: 7px 10px; text-align: left; }
table.price-list-history td { padding: 3px 10px; text-align: left; }
table.price-list-history td.date span { color: #c3c2bb; }
table.price-list-history td.count { color: #778d78; }